.push-button {
    margin-top: 75px;
    text-align: center;
 }

.push-button button {
    border-radius: 45px;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

h1 {
    padding-bottom: 50px;
    text-align: center;
}

img.icon {
    width: 275px;
    height: 275px;
}

#happy {
    display: none;
    text-align: center;
}

#happy img {
    margin-top: 75px;
}

body {
    background-image: url("/img/background.png");
    background-repeat: repeat;
}